<nav class="navbar navbar-expand-md navbar-dark bg-dark">
  <a class="navbar-brand" href="/"><img src="/imgs/StoreIcon.png" alt="HomePage" width="30" height="30"
      class="d-inline-block align-top"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown"
    aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
      <li class="nav-item">
        <a class="nav-link active" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/Servicios">Services</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/pets">Pets
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#">Login
        </a>
      </li>
    </ul>
  </div>
</nav>